docs/n8n-alert-workflow.json
{
  "name": "Slack Alert Investigation",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "slack-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Slack Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge ?? 'ok' }}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json;\n\nif (body.type === 'url_verification') {\n  return [{ json: { challenge: body.challenge, skip: true } }];\n}\n\nconst event = body.event;\nif (!event || event.type !== 'message' || event.subtype) {\n  return [{ json: { skip: true } }];\n}\n\nconst text = event.text || '';\nif (!text.startsWith('[FIRING')) {\n  return [{ json: { skip: true } }];\n}\n\nconst lines = text.split('\\n').map(l => l.trim());\nconst firstLine = lines[0];\nconst alertNameMatch = firstLine.match(/\\[FIRING[^\\]]*\\]\\s+(\\S+)/);\nconst alertName = alertNameMatch ? alertNameMatch[1] : 'Unknown';\n\nconst severityMatch = text.match(/severity[:\\s•]+([\\w]+)/);\nconst severity = severityMatch ? severityMatch[1] : 'unknown';\n\nlet appName = '';\nconst serviceMatch = text.match(/Service:\\s*([\\w-]+)/);\nconst destAppMatch = text.match(/destination_app[:\\s•]+([\\w-]+)/);\nconst containerMatch = text.match(/container[:\\s•]+([\\w-]+)/);\nappName = serviceMatch?.[1] || destAppMatch?.[1] || containerMatch?.[1] || '';\n\nlet namespace = '';\nconst nsMatch = text.match(/namespace[:\\s•]+([\\w-]+)/);\nif (nsMatch) {\n  namespace = nsMatch[1];\n} else if (appName) {\n  const parts = appName.split('-');\n  namespace = parts.length >= 2 ? parts[0] + '-' + parts[1] : appName;\n}\n\nconst podMatch = text.match(/pod[:\\s•]+([\\w-\\/]+)/);\nconst pod = podMatch ? podMatch[1].split('/').pop() : '';\n\nconst alertTimestamp = Math.floor(Date.now() / 1000);\nconst startTime = alertTimestamp - 600;\nconst endTime = alertTimestamp + 600;\n\nconst infraAlerts = ['OomKiller', 'CrashLoop', 'NodeNotReady', 'PodNotReady', 'DiskPressure', 'MemoryPressure'];\nconst isInfraAlert = infraAlerts.some(k => alertName.toLowerCase().includes(k.toLowerCase()));\nconst alertType = isInfraAlert ? 'infra' : 'service';\n\nreturn [{\n  json: {\n    skip: false,\n    raw: text,\n    channel: event.channel,\n    ts: event.ts,\n    alertName,\n    alertType,\n    appName,\n    namespace,\n    pod,\n    severity,\n    startTime: String(startTime * 1e9),\n    endTime: String(endTime * 1e9),\n    startTimeMs: startTime,\n    endTimeMs: endTime,\n  }\n}];\n"
      },
      "id": "parse-message",
      "name": "Parse Alert Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true },
          "conditions": [
            {
              "id": "skip-check",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equals" }
            }
          ]
        }
      },
      "id": "filter-firing",
      "name": "Is FIRING?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const alert = $input.first().json;\n\nconst SERVICE_MAP = {\n  'shop-user': {\n    github: { owner: 'sdjang6253', repo: 'n8n-with-ai-dlc', path: 'aidlc/shopping-mall/shop-user' },\n    namespace: 'shopping-mall',\n    lokiLabels: '{app=\"shop-user\", namespace=\"shopping-mall\"}',\n    prometheusJob: 'shop-user',\n    description: '회원가입/로그인/JWT 발급 서비스',\n  },\n  'shop-product': {\n    github: { owner: 'sdjang6253', repo: 'n8n-with-ai-dlc', path: 'aidlc/shopping-mall/shop-product' },\n    namespace: 'shopping-mall',\n    lokiLabels: '{app=\"shop-product\", namespace=\"shopping-mall\"}',\n    prometheusJob: 'shop-product',\n    description: '상품 목록/상세/재고 관리 서비스',\n  },\n  'shop-order': {\n    github: { owner: 'sdjang6253', repo: 'n8n-with-ai-dlc', path: 'aidlc/shopping-mall/shop-order' },\n    namespace: 'shopping-mall',\n    lokiLabels: '{app=\"shop-order\", namespace=\"shopping-mall\"}',\n    prometheusJob: 'shop-order',\n    description: '장바구니/주문/리뷰 Kafka Producer 서비스',\n  },\n  'shop-review': {\n    github: { owner: 'sdjang6253', repo: 'n8n-with-ai-dlc', path: 'aidlc/shopping-mall/shop-review' },\n    namespace: 'shopping-mall',\n    lokiLabels: '{app=\"shop-review\", namespace=\"shopping-mall\"}',\n    prometheusJob: 'shop-review',\n    description: '리뷰 Kafka Consumer/조회 서비스',\n  },\n  'shop-frontend': {\n    github: { owner: 'sdjang6253', repo: 'n8n-with-ai-dlc', path: 'aidlc/shopping-mall/shop-frontend' },\n    namespace: 'shopping-mall',\n    lokiLabels: '{app=\"shop-frontend\", namespace=\"shopping-mall\"}',\n    prometheusJob: 'shop-frontend',\n    description: 'React + Vite + nginx 프론트엔드',\n  },\n};\n\nconst appName = alert.appName || '';\nlet meta = SERVICE_MAP[appName];\nif (!meta) {\n  const key = Object.keys(SERVICE_MAP).find(k => appName.includes(k));\n  meta = key ? SERVICE_MAP[key] : null;\n}\nif (!meta) {\n  meta = {\n    github: { owner: 'sdjang6253', repo: 'n8n-with-ai-dlc', path: '' },\n    namespace: alert.namespace || 'unknown',\n    lokiLabels: `{namespace=\"${alert.namespace || 'unknown'}\"}`,\n    prometheusJob: appName,\n    description: '매핑되지 않은 서비스',\n  };\n}\n\nreturn [{\n  json: {\n    ...alert,\n    github: meta.github,\n    lokiLabels: meta.lokiLabels,\n    prometheusJob: meta.prometheusJob,\n    serviceDescription: meta.description,\n    resolvedNamespace: meta.namespace,\n  }\n}];\n"
      },
      "id": "enrich-context",
      "name": "Enrich Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "agent": "toolsAgent",
        "promptType": "define",
        "text": "=다음 Prometheus 알람을 분석해주세요.\n\n## 알람 정보\n- 알람: {{ $json.alertName }}\n- 타입: {{ $json.alertType }}\n- 서비스: {{ $json.appName }} ({{ $json.serviceDescription }})\n- 네임스페이스: {{ $json.resolvedNamespace }}\n- 심각도: {{ $json.severity }}\n- 시간 범위: {{ $json.startTimeMs }} ~ {{ $json.endTimeMs }} (unix seconds)\n\n## 조회 힌트\n- Loki 라벨: {{ $json.lokiLabels }}\n- Prometheus job: {{ $json.prometheusJob }}\n- GitHub: {{ $json.github.owner }}/{{ $json.github.repo }} (경로: {{ $json.github.path }})\n\n## 원본 알람\n{{ $json.raw }}\n\n## 분석 포맷\n🚨 알람 요약\n🔍 원인 분석 (Loki 로그 기반)\n📊 메트릭 현황 (Prometheus 기반)\n🔗 관련 트레이스 (있는 경우)\n💡 조치 권고",
        "options": {
          "systemMessage": "You are an expert SRE AI assistant. You investigate Prometheus alerts by querying observability tools and source code. Be concise, factual, and actionable.\n\nRules:\n- Always start with Loki logs to understand what happened\n- Use the provided lokiLabels and prometheusJob — don't guess label names\n- If you find a traceId in logs, query Tempo for the full trace\n- Check GitHub for recent commits only if logs suggest a code-level issue\n- Respond in Korean (한국어)\n- Keep the analysis under 2000 characters for Slack readability"
        }
      },
      "id": "ai-agent",
      "name": "AI Investigation Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "model": "gemini-1.5-pro",
        "options": { "temperature": 0.2 }
      },
      "id": "gemini-model",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [1120, 520],
      "credentials": {
        "googlePalmApi": {
          "id": "REPLACE_GEMINI_CREDENTIAL_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "name": "query_loki_logs",
        "description": "Query Loki for application logs. Use the provided lokiLabels as base and append filters like |= \"error\" or | json. Always use the provided start/end time range in nanoseconds.",
        "method": "GET",
        "url": "=http://LOKI_FQDN:3100/loki/api/v1/query_range",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $fromAI('logql_query', 'LogQL query string', 'string') }}" },
            { "name": "start", "value": "={{ $fromAI('start_time_ns', 'Start time in nanoseconds', 'string') }}" },
            { "name": "end", "value": "={{ $fromAI('end_time_ns', 'End time in nanoseconds', 'string') }}" },
            { "name": "limit", "value": "100" }
          ]
        },
        "options": {}
      },
      "id": "tool-loki",
      "name": "Tool: Loki",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [880, 560]
    },
    {
      "parameters": {
        "name": "query_prometheus_metrics",
        "description": "Query Prometheus for metrics. Use the provided prometheusJob label in PromQL. Common: rate(http_server_requests_seconds_count{job=\"X\",status=~\"5..\"}[5m]), histogram_quantile(0.99,...), jvm_memory_used_bytes{job=\"X\",area=\"heap\"}",
        "method": "GET",
        "url": "=http://PROMETHEUS_FQDN:9090/api/v1/query_range",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "query", "value": "={{ $fromAI('promql', 'PromQL expression', 'string') }}" },
            { "name": "start", "value": "={{ $fromAI('start_unix', 'Start time unix seconds', 'string') }}" },
            { "name": "end", "value": "={{ $fromAI('end_unix', 'End time unix seconds', 'string') }}" },
            { "name": "step", "value": "60" }
          ]
        },
        "options": {}
      },
      "id": "tool-prometheus",
      "name": "Tool: Prometheus",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1000, 560]
    },
    {
      "parameters": {
        "name": "query_tempo_trace",
        "description": "Query Tempo for a distributed trace by traceId. Only use when you find a traceId in Loki logs. Focus on error spans in the response.",
        "method": "GET",
        "url": "=http://TEMPO_FQDN:3200/api/traces/{{ $fromAI('trace_id', 'The traceId to look up', 'string') }}",
        "options": {}
      },
      "id": "tool-tempo",
      "name": "Tool: Tempo",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1120, 560]
    },
    {
      "parameters": {
        "name": "search_github_code",
        "description": "Search GitHub for source code, recent commits, or file contents. Use the provided github owner/repo/path. Common paths: repos/{owner}/{repo}/commits?path={path}&per_page=5, repos/{owner}/{repo}/contents/{path}/{filename}, search/code?q={error_class}+repo:{owner}/{repo}",
        "method": "GET",
        "url": "=https://api.github.com/{{ $fromAI('api_path', 'GitHub API path', 'string') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer GITHUB_PAT_TOKEN" },
            { "name": "Accept", "value": "application/vnd.github+json" },
            { "name": "X-GitHub-Api-Version", "value": "2022-11-28" }
          ]
        },
        "options": {}
      },
      "id": "tool-github",
      "name": "Tool: GitHub",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [1240, 560]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "channel": "={{ $('Parse Alert Message').item.json.channel }}",
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": "={{ $('Parse Alert Message').item.json.ts }}"
        }
      },
      "id": "slack-reply",
      "name": "Slack Reply",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [1340, 300],
      "credentials": {
        "slackOAuth2Api": {
          "id": "REPLACE_SLACK_CREDENTIAL_ID",
          "name": "Slack OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Slack Webhook": {
      "main": [
        [
          { "node": "Webhook Response", "type": "main", "index": 0 },
          { "node": "Parse Alert Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Parse Alert Message": {
      "main": [
        [{ "node": "Is FIRING?", "type": "main", "index": 0 }]
      ]
    },
    "Is FIRING?": {
      "main": [
        [],
        [{ "node": "Enrich Context", "type": "main", "index": 0 }]
      ]
    },
    "Enrich Context": {
      "main": [
        [{ "node": "AI Investigation Agent", "type": "main", "index": 0 }]
      ]
    },
    "AI Investigation Agent": {
      "main": [
        [{ "node": "Slack Reply", "type": "main", "index": 0 }]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [{ "node": "AI Investigation Agent", "type": "ai_languageModel", "index": 0 }]
      ]
    },
    "Tool: Loki": {
      "ai_tool": [
        [{ "node": "AI Investigation Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool: Prometheus": {
      "ai_tool": [
        [{ "node": "AI Investigation Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool: Tempo": {
      "ai_tool": [
        [{ "node": "AI Investigation Agent", "type": "ai_tool", "index": 0 }]
      ]
    },
    "Tool: GitHub": {
      "ai_tool": [
        [{ "node": "AI Investigation Agent", "type": "ai_tool", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "meta": { "templateCredsSetupCompleted": false },
  "pinData": {}
}
